.dragon-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
}
.dragon-mirror-abs {
  position: absolute !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
}
.dragon-hide {
  display: none !important;
}
.dragon-unselectable {
  user-select: none !important;
}
.dragon-transit {
  opacity: 0.2;
}