
body {
	text-align: center;
}

img.logo {
    max-width: 300px;
}

#example {
    text-align: center;
}

.box {
    border: 2px solid #bdffa3;
}

.container {
    min-height: 20px;
    background: rgba(100,100,100,0.3);
    padding: 0.5em;
}

.home {
	background: #A770EF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home h1 {
	font-size: 300%;
}