* { /* reset */
    padding: 0;
    margin: 0;
}

html {
    background: #A770EF;
}

body {
	text-align: center;
    font-family: sans-serif;
}

img.logo {
    max-width: 300px;
}

h2 {

    color: #E16964;
    margin: 0.3em 0 0.3em 0;
}

h3, h4, h5, h6 {

    color: rgba(30,30,30,0.7);
    margin: 0.2em 0 0.2em 0;
}

#example {
    text-align: center;
}

.box {
    border: 2px solid rgba(100,100,100,0.5);
    margin: 0.2em 0 0.2em 0;
    padding: 0.3em;
}

.setup {
    padding: 0.5em 0 0.5em 0;
    background: rgba(100,100,100,0.3);
}
.setup .box {
    background: rgba(30,30,30,0.7);
    color: white;
    padding: 0.5em;
}

.container {
    min-height: 20px;
    background: rgba(100,100,100,0.3);
    padding: 0.2em;
}

.home {
	background: #A770EF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    overflow: visible;
    height: 1000px;
}

.home h1 {
	font-size: 300%;
}