
// rainbow background
// $gradientStart: #FDB99B;
// $gradientMiddle: #CF8BF3;
// $gradientEnd: #A770EF;
$gradientStart: #cec8bf;
$gradientMiddle: #e9fbf1;
$gradientEnd: #65c2d8;
$rainbowGradient: linear-gradient(to bottom, $gradientStart, $gradientMiddle, $gradientEnd );

$a: white;
$aHover: #fde2ae;

$h2: #E16964;
$hx: rgba(30,30,30,0.7);

$preBackground: rgba(30,30,30,0.3);
$preBorder: 1px solid white;
